&usart1 {
	status = "okay";
};

&usart2 {
	status = "disabled";
};

&i2c3 {
	status = "disabled";
};

&spi5 {
	status = "disabled";
};

&adc1 {
	//pinctrl-0 = <&adc1_in5_pa0 &adc1_in6_pa1 &adc1_in8_pa3 &adc1_in9_pa4>;
	status = "okay";
};
